.container{
  width: 100vw;
  height: auto;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/513/292/11/sketches-gradient-doodle-logo-wallpaper-preview.jpg");
  background-size: cover;
}
.container>h1{
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}
.cardContainer{
  width: 90vw;
height: auto;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
margin: 0 auto;
}
.card{
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
.card>img{
  border-radius: 10px;
width: 20vw;
height: 25vh;
background-size: cover;
display: block;

}